@import "./fonts.css";

@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* fonts */
    --font-nunito: "Nunito", sans-serif;
    --font-nohemi: "Nohemi", sans-serif;

    /* colors */
    --color-background-page: #121212;

    --color-primary: #3361E3;

    --color-navbar-background: #1A1A1A;
    --color-navbar-stroke: #2C2C2C;

    --color-regular-stroke: #2C2C2C;

    --color-audio-player-background: #101010;
    --color-audio-player-stroke: #2C2C2C;

    /* text colors */
    --color-dark-white: #F4F4F4;
    --color-grey: #AEAEAE;
}

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-nohemi);
    }

    p,
    a,
    li {
        font-family: var(--font-nunito);
        font-weight: 300;
    }
}