@import "./fonts.css";

@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* fonts */
    --font-body: "Inter", sans-serif;
    --font-headers: "Nohemi", sans-serif;

    /* colors */
    --color-background-page: #101010;
    --color-card-background: #1A1A1A;
    --color-card-stroke: #1F1F1F;
    --color-card-background-hover: #1E1E1E;
    --color-dark-white: #E0E0E0;
    --color-modal-background: #1A1A1A;
    --color-modal-stroke: #1F1F1F;

    --color-card-background-lighter: #1F1F1F;

    --color-primary: #2B55CC;

    --color-muted: hsl(0 0% 63.9%);

    --color-navbar-background: #141414;
    --color-navbar-stroke: #1F1F1F;

    --color-regular-stroke: #1F1F1F;

    --color-audio-player-background: #101010;
    --color-audio-player-stroke: #1F1F1F;

    --color-tab-background-inactive: #1A1A1A;
    --color-tab-stroke-inactive: #2C2C2C;

    /* text colors */
    --color-dark-white: #F4F4F4;
    --color-grey: #AEAEAE;

    /* form elements */
    --color-checkbox-background: #141414;
    --color-checkbox-stroke: #2C2C2C;

    --color-inputfield-background: #141414;
    --color-inputfield-stroke: #2C2C2C;

    --color-image-upload-button-background: #141414;
    --color-image-upload-button-stroke: #2C2C2C;

    --color-scrollbar-thumb: #444444;
    --color-scrollbar-thumb-hover: #666666;
    --color-scrollbar-track: #1A1A1A;
}


/* font for dyslexia */
.font-lexend {
    --font-body: "Lexend", sans-serif;
    --font-headers: "Lexend", sans-serif;
    font-family: var(--font-headers);
    line-height: normal;
    margin: 0;
}

.font-lexend h1,
.font-lexend h2,
.font-lexend h3,
.font-lexend h4,
.font-lexend h5,
.font-lexend h6 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
    line-height: normal;
    font-family: var(--font-headers);
}


@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-headers);
        line-height: 1;
        padding-top: 0.5rem;
        padding-bottom: 0.3rem;
        margin: 0;
    }

    p,
    a,
    li,
    label,
    input,
    textarea,
    select,
    button,
    span,
    fieldset,
    legend,
    option {
        font-family: var(--font-body);
        font-weight: 300;
    }

    input::placeholder,
    textarea::placeholder {
        font-family: var(--font-body);
    }

    button {
        font-family: var(--font-body);
        font-weight: 300;
    }

    .heading-center {
        line-height: 1;
        padding-top: 0.6rem;
        padding-bottom: 0.4rem;
        margin: 0;
    }

    .tab-nav-item-center {
        vertical-align: middle;
    }
}

/* make sure inertia's progress bar is above all possible elements */
#nprogress {
    z-index: 99999 !important;
}

#nprogress .bar {
    z-index: 99999 !important;
}