/* Custom navigation buttons */
.custom-prev-btn,
.custom-next-btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    color: white;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 1 !important;
    visibility: visible !important;
}

.custom-prev-btn {
    left: 10px;
}

.custom-next-btn {
    right: 10px;
}

/* Default style for all slides */
.swiper-slide {
    transform: scale(0.8) translateY(50px) !important;
    z-index: 1;
    opacity: 0.7;
    transition: transform 0.3s ease, z-index 0.3s ease, opacity 0.3s ease;
}

.swiper-slide-prev,
.swiper-slide-next {
    z-index: 5;
}

.swiper-slide-active {
    transform: scale(1) translateY(0) !important;
    z-index: 10;
    opacity: 1;
    transition: transform 0.3s ease-in-out, z-index 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Disabled navigation buttons */
.swiper-button-disabled {
    opacity: 0 !important;
    visibility: hidden !important;
}

/* Hover effect for navigation buttons */
.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    padding: 10px;
}

/* Pagination styles */
.swiper-pagination {
    text-align: center;
    padding-top: 20px;
}

.swiper-pagination-bullet {
    background-color: #fff;
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

/* Responsive styles */
@media (max-width: 1024px) {
    .swiper {
        display: none;
    }
}

/* Last child adjustment */
.swiper-slide:last-child {
    margin-right: 0 !important;
}